.container {
	padding: 2rem 2rem 0 2rem;
}

.container p {
	font-size: 1.6rem;
}

.textarea-div, .dragdrop-div {
	display: flex;
	flex-direction: column;
}

.dragdrop-div {
	margin-bottom: 1rem;
}

.textarea-div:focus-within {
	color: #214bff;
}

.textarea-label, .description {
	font-size: 1.4rem;
}


.textarea {
	margin: 0.5em 0;
	padding: 1.4rem;
	min-height: 120px;
	width: 100%;
	border-radius: 0.5rem;
	border: 1px solid #c8c8c8;
	font-size: 1.6rem;
	letter-spacing: 0.2px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	outline: none;
}

.textarea:focus {
	border: 1px solid #214bff;
	color: #000;
}

.tips {
	display: none;
}

.container label {
	text-align: left;
}

.invalid-input {
	text-align: left;
	width: 435px;
}

.invalid-input p {
	margin: 0;
	font-size: 1.35rem;
	color: #b40e0e;
}

.input {
		border: 1px solid #c8c8c8;
}

.invalid {
	border: 1px solid #b40e0e;
}


.invalid-textarea {
	border: 1px solid #b40e0e;
}

.buttons {
	width: 100%;
	padding: 0 2rem 0 2rem;
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 5rem;
	margin-bottom: 5rem;
}

@media (min-width: 992px) {
	.container {
		padding: 2rem 6rem 0 6rem;
	}

	.container label {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-align: right;
	}

	.tips {
		display: block;
		position: relative;
		font-size: 1rem;
		margin-left: 0.2rem;
		font-weight: bold;
	}

	.tips::after {
		position: absolute;
		width: 22rem;
		background-color: #214bff;
		content: attr(data-tip);
		text-align: center;
		color: #fff;
		padding: 2rem;
		font-size: 1.35rem;
		border-radius: 0.5rem;
		margin: auto;
		left: -11rem;
		bottom: 5rem;
		transition: all 0.2s;
	}

	.tips::before {
		position: absolute;
		left: 0.7rem;
		content: '';
		height: 0;
		width: 0;
		border-top: 0.5rem solid #214bff;
		border-left: 0.5rem solid transparent;
		border-right: 0.5rem solid transparent;
		bottom: 45px;
		transition: all 0.2s;
	}

	.tips::before,
	.tips::after {
		display: none;
	}

	.tips:hover::before,
	.tips:hover::after {
		display: block;
	}

	.tips .icon {
		font-size: 2.4rem;
		color: #c8c8c8;
	}

	.tips .icon:hover {
		color: #214bff;
	}

	.invalid-input {
		position: relative;
		left: 269px;
		width: 435px;
	}

	.textarea-div, .dragdrop-div {
		display: flex;
		flex-direction: row;
		margin-top: 1rem;
	}

	.textarea-label {
		align-items: flex-start;
		margin-top: 2rem;
	}

	.textarea{
		min-height: 120px;
		width: 435px;
		border-radius: 0.5rem;
		border: 1px solid #c8c8c8;
		font-size: 1.6rem;
		letter-spacing: 0.2px;
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
	}

	.invalid-textarea {
		border: 1px solid #b40e0e;
	}

	.need-inputs {
		margin-top: 2rem;
	}

	.buttons {
		padding: 0;
		top: 10rem;
	}
}
