.container {
	padding: 2rem;
}

.choice-box {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	border: 1px solid #c8c8c8;
	border-radius: 0.3rem;
	font-size: 1.6rem;
	height: 105px;
	font-weight: 500;
	color: #c8c8c8;
}

.choice-box-clicked {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	border: 1px solid #214bff;
	border-radius: 0.3rem;
	font-size: 1.6rem;
	height: 105px;
	color: #214bff;
}

.choice-box-clicked p {
	color: black;
	font-weight: 500;
}

.icon {
	width: 105px;
	font-size: 4.8rem;
	text-align: center;
	margin-bottom: 2rem;
}

.choice-box-clicked .icon {
	width: 105px;
	font-size: 4.8rem;
	text-align: center;
	margin-bottom: 2rem;
}

.choice-box:hover {
	border: 1px solid #bbb;
	cursor: pointer;
	color: #aaa;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%), 0 4px 16px 0 rgb(0 0 0 / 6%), 0 0 1px 0 rgb(0 0 0 / 10%);
}

.choice-box .icon:hover {
	color: #aaa;
}

@media (min-width: 992px) {
	.container {
		padding: 5rem 6rem 3rem 6rem;
		display: flex;
		justify-content: space-between;
	}

	.choice-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 30%;
		height: 205px;
		position: relative;
	}

	.choice-box-clicked {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 30%;
		height: 205px;
		position: relative;
	}

	.icon,
	.choice-box-clicked .icon {
		position: absolute;
		top: 4rem;
	}

	.choice-box p,
	.choice-box-clicked p {
		padding: 0 1.4rem;
		text-align: center;
		position: absolute;
		top: 10rem;
	}
}
