.card {
	width: 100vw;
	background-color: #fff;
}

@media (min-width: 992px) {
	.card {
		/* padding: 0 6rem; */
		padding: 0;
		width: 800px;
		box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%), 0 4px 16px 0 rgb(0 0 0 / 6%), 0 0 1px 0 rgb(0 0 0 / 10%);
		border-radius: 1rem;
	}
}
