.dateinput {
    padding: 1.4rem;
    margin-top: 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    border: 1px solid #c8c8c8;
    border-radius: 0.5rem;
    width: 200px;
    transition: border .3s linear;
    display: flex;

	font-family: 'Poppins', sans-serif;
    letter-spacing: .2px;
font-weight: 500;
}

.datepicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
  }
  .datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

.input {
    padding: 1rem 0;
}

.input:focus-within {
	color: #214bff;
}

.dateinput:hover {
  border: 1px solid #8f8f8f;
}

.dateinput:active {
    color: #000
}

.dateinput:focus {
    border: 1px solid #214bff;
    color: #000;
}

.input label {
    font-size: 1.4rem;
}

@media (min-width: 992px) {

	.input {
		display: flex;
		/* justify-content: flex-end; */
		align-items: center;
        right: 235px;
	}

    label {
        margin-right: 2rem;
    }
}


/* @media (min-width: 992px) {
    input {
   
 
    }
  } */
