.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 3rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 1.4rem;
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  
  .modal p {
    margin-bottom: 3rem;
  }
  
  @media (min-width: 768px) {
    .modal {
      padding: 4rem;
      width: 40rem;
      left: calc(50% - 20rem);
      font-size: 1.8rem;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%), 0 4px 16px 0 rgb(0 0 0 / 6%), 0 0 1px 0 rgb(0 0 0 / 10%);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }